{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

{% include 'catalog/header.html' %}

<div class="container">
    <div class="row text-center justify-content-center">

        {% for product in products|slice:":6" %}

        {% if product.is_published %}

        <div class="col-12 col-sm-6 col-lg-4 ">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    {% if product.image %}
                    <img src="{{product.image.url}}" class="img-fluid" alt="image"/>
                    {% endif %}
                    <h1 class="card-title pricing-card-title">$ {{product.price}}</h1>
                    <p>{{product.description|truncatechars:100}}</p>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-lg btn-block btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">Информация</a>
                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock %}