{% extends 'catalog/base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}

{% include 'catalog/header.html' %}

<div class="container">
    <div class="row text-center justify-content-center">

        <div class="container m-1">
            <a href="{% url 'catalog:create' %}" class="btn btn-primary mb-3 col-2 ">Создать товар</a>
        </div>
        <div class="dropdown m-1">
            <button class="btn btn-secondary dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Выберите категорию
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item" href="{% url 'catalog:category_products' category.pk%}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-5"></div>

        {% for product in products %}

        <div class="container text-start">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">$ {{product.price}}</h6>
                        <p class="card-text">{{product.description}}</p>
                        <a href="{% url 'catalog:product_detail' product.pk %}" class="card-link">Подробнее</a>
                        {% if perms.catalog.change_product or user == product.owner %}
                        <a href="{% url 'catalog:update' product.pk %}" class="card-link">Изменить</a>
                        {% endif %}
                        {% if perms.catalog.delete_product or user == product.owner %}
                        <a href="{% url 'catalog:delete' product.pk %}" class="card-link">Удалить</a>
                        {% endif %}
                        {% if perms.catalog.can_unpublish_product %}
                        <a href="{% url 'catalog:publish' product.pk %}" class="card-link">{% if not product.is_published %}Опубликовать{% else %}Снять с публикации{% endif %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}